<script src="~/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqxnumberinput.js"></script>
@{
    ViewData["Title"] = "ASP .NET MVC NumberInput Example";
}
<label>Default Input</label>

<jqx-numberinput spinButtons="true" theme="@ViewData["Theme"]" width="300" height="25" ></jqx-numberinput>
<label>Simple Input</label>

<jqx-numberinput inputMode="simple" spinButtons="true" theme="@ViewData["Theme"]" width="300" height="25"></jqx-numberinput>
